body{
    font-family: 'Roboto', sans-serif;
}


.heading{
    /* display: flex; */
    width: 708px
    color: #272727;
font-size: 80px;
font-weight: 800;
margin: 197px 97px 0px 240px;
}
p{
 margin: 32px 171px 0px 240px;
width: 634px;
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px

}
.button{
    color: #FFF;
font-size: 20px;
font-weight: 700;
display: inline-flex;
padding: 20px 43px 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
margin: 32px 628px 147px 240px;
width: 177px;


}
.golapi{
    margin: 50px 240px 0px 0px;
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */


}
.page{
    width: 1920px;
height: 850px;
background: rgba(229, 84, 115, 0.10);
display: flex;
}
.delivery{
 width: 1440px;
height: 320px;
border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
display: flex;
background-position: center;
}
.hot{
    width: 1920px;
height: 850px;
background: rgba(229, 84, 115, 0.10);
display: flex;
}
.hot-title{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-weight: 800;
margin: 230px 215px 0px 423px;
}
.off{
    color: #E55473;
}
.hot-text{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
display: flex;
width: 594px;
margin: 24px 186px 0px 395px;
}
.golap{
    width: 318px;
height: 420px;
margin: 100px 429px 100px 0px;
}
.button-sign{
    color: #FFFFFF;
    margin: 32px 417px 162px 603px;
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
font-family: Lato;
font-size: 20px;
font-weight: 700;
border-radius: 8px;

}
.instagram{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-weight: 800;
margin: 128px 870px 0px 870px;
}
.instagram-text{
    display: flex;
width: 594px;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin: 24px 663px 48px 663px;
color: #27272799;
}
.flowers{
    display: flex;
}
.flower-one{
    width: 342px;
    height: 396px;
    margin: 48px 24px 128px 240px;
}

.flower-two{
    width: 342px;
    height: 396px;
    margin: 48px 24px 128px 0px;
}
.flower-three{width: 342px;
    height: 396px;
    margin: 48px 24px 128px 0px;
}
.flower-four{width: 342px;
    height: 396px;
    margin: 48px 240px 128px 0px;
}

.deal-part{
    margin: 128px 240px;
    width: 1440px;
    height: 449px;
    background-image: url('../Rectangle\ 9.png');
}

.deal-pera{
    color: rgba(39, 39, 39, 0.60);
/* text-align: center; */
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
color: #27272799;
margin: 16px 605px 48px 604px;
}
.email{
    width: 700px;
height: 64px;
border-radius: 8px;
background: #FFF;
}
.subcribe{
   
    color: #FFFFFF;
   
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
font-family: Lato;
font-size: 20px;
font-weight: 700;
margin-left: 16px;

}

.se{
   text-align: center;
   margin-top: 48px;
}
.get-the-deal{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-weight: 800
 
}

.footer{
    width: 1922px;
    height: 449px;
    background: #111010;
display: block;
}

.flower-shop{
    color: #E55473;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
margin: 128px 833px 24px 832px;
}
.shop{
    color: #FFFFFF;
}
.flowershpo-text{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
display: flex;
width: 625px;
margin: 0px 649px 32px 648px;
}
.small-text{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
margin: 0px 783px 128px 640px;
}




